<div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">

  <!-- Sección de Botones -->
  <div class="flex items-center gap-4">
      <!-- Botón para ir atrás (Solo visible en ciertas rutas) -->
      <button *ngIf="showBackButton"
              (click)="goBack()" 
              class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 flex items-center gap-2 transition">
          <i class="fas fa-arrow-left"></i> Atrás
      </button>

      <!-- Botón de menú hamburguesa (oculto en pantallas grandes) -->
      <button class="relative middle none font-sans font-medium text-center uppercase transition-all w-10 h-10 rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 xl:hidden">
          <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-blue-gray-500">
                  <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
              </svg>
          </span>
      </button>
  </div>
</div>
