<div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
  <!-- Sección de Botones -->
  <!-- Temporizador de suscripción -->
  <div class="text-sm text-gray-600">
    <span *ngIf="remainingDays > 0">📅 Tu suscripción vence en <strong>{{ remainingDays }} días</strong></span>
    <span *ngIf="remainingDays === 0" class="text-red-600">⚠️ Suscripción vencida</span>
  </div>
  <div class="flex items-center gap-4">
    <!-- Botón para ir atrás (Solo visible en ciertas rutas) -->
    <button *ngIf="showBackButton" (click)="goBack()"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700 flex items-center gap-2 transition">
      <i class="fas fa-arrow-left"></i> Atrás
    </button>


    <!-- Botón de menú hamburguesa (Solo en móviles) -->
    <button (click)="toggleMenu()"
      class="sm:block xl:hidden p-2 bg-gray-200 rounded-lg hover:bg-gray-300 transition-all">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-gray-700">
        <path fill-rule="evenodd"
          d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>

<!-- Fondo oscuro para cerrar el menú -->
<div *ngIf="isMenuOpen" class="fixed inset-0 bg-black bg-opacity-50 z-40 sm:block xl:hidden" (click)="toggleMenu()">
</div>

<!-- Menú hamburguesa (Visible solo en pantallas pequeñas) -->
<nav [ngClass]="{ 'hidden': !isMenuOpen, 'flex': isMenuOpen }"
  class="fixed top-0 left-0 w-64 h-screen bg-white shadow-lg sm:flex xl:hidden flex-col justify-start pt-6 px-4 z-50 transition-transform duration-300">

  <!-- Botón de cerrar -->
  <button (click)="toggleMenu()" class="absolute top-4 right-4 text-2xl text-gray-700 sm:block xl:hidden">
    &times;
  </button>

  <ul class="flex flex-col gap-4 text-lg mt-10">
    <li>
      <a (click)="toggleMenu()" routerLink="/stock"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-warehouse text-blue-500"></i> Stock
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/product"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-cubes text-blue-500"></i> Productos
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/category"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-tags text-blue-500"></i> Categorías
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/budget"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-file-invoice-dollar text-blue-500"></i> Presupuestos
      </a>
    </li>

    <li>
      <a (click)="toggleMenu()" routerLink="/update-prices"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-percentage text-blue-500"></i> Modificador de Precios
      </a>
    </li>

    <li>
      <button (click)="logout()"
        class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-3 rounded-lg flex items-center justify-center gap-3 transition-all">
        <i class="fas fa-sign-out-alt text-lg"></i> Cerrar Sesión
      </button>
    </li>

    <hr>
    <li>
      <a (click)="toggleMenu()" routerLink="/production"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-industry text-blue-500"></i> Producción
      </a>
    </li>
    <li>
      <a (click)="toggleMenu()" routerLink="/balance"
        class="flex items-center gap-3 p-3 text-gray-700 hover:bg-gray-200 rounded">
        <i class="fas fa-chart-line text-blue-500"></i> Historial de ventas
      </a>
    </li>
  </ul>
</nav>